body {
    background-image: url("background.png");
    color: blue;
    width: 95%;
    background-position: center;
    background-repeat: no-repeat fixed content-box;
    background-attachment: fixed;
}
img {
    width: 280px;
}
ul {
    list-style-type: none;
    display: inline;
}
li {
    float: left;
    margin: 10px;
}
li p {
    margin-left: 105px;
}
